* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #3a3a3a;
}
#header {
  font-size: 1rem;
  font-weight: 700;
  color: #3a3a3a;
}
.section-1 {
  width: 100%;
}
.section-1 #main-header {
  width: 50%;
}
.section-1 #camera {
  width: 40%;
}
#camera {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 47vh;
}

#main-header h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #3a3a3a;
}
#main-header p {
  font-size: 1rem;
  font-weight: 400;
}
#brand-item{
  list-style: none;
}
#brand-item li{
  padding: 3vh 4vh;
}