* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  color: #3a3a3a;
}
#header {
  font-size: 1rem;
  font-weight: 700;
  color: #3a3a3a;
}
.section-1 {
  width: 100%;
}
.section-1 #main-header {
  width: 50%;
}
.section-1 #camera {
  width: 40%;
}
#camera {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 47vh;
}

#main-header h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #3a3a3a;
}
#main-header p {
  font-size: 1rem;
  font-weight: 400;
}
#brand-item {
  list-style: none;
}
#brand-item li {
  padding: 3vh 4vh;
}
.card {
  width: 20rem;
}
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 2vw;
  color: #ffd600;
  cursor: pointer;
}
.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 150px;
}
p {
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
.card-body .card-text {
  font-size: 1rem;
  text-align: start;
}
.card {
  width: 25rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5px 0.5px 30px rgba(0, 0, 0, 0.21);
}
.card img {
  width: 20rem;
}
#card {
  width: 100%;
  box-shadow: none;
}
#card .btn {
  background-color: #e02c6d;
}
#card .card-body .card-title {
  font-size: 2.5rem;
  font-weight: 700;
}
#card .card-body .card-text {
  width: 70%;
}
#footer {
  background-color: #0a0826;
  padding: 2rem 0;
  margin-top: 5rem;
}
#footer h1 {
  margin: 0;
  font-weight: 600;
  font-size: 3rem;
}
#footer h6 {
  text-align: center;
  margin-top: 0.4rem;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 9vh;
  background: var(--bg);
}

#icon ul {
  display: flex;
  position: relative;
  gap: 4rem;
}

#icon ul li {
  position: relative;
  list-style: none;
  width: 2vh;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
#icon ul li:before {
  content: "";
  position: absolute;
  inset: 1vh;
  box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
  transition: 0.5s;
}

#icon ul li:hover:before {
  inset: 0;
}

#icon ul li:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(45deg);
}
#icon ul li:hover {
  z-index: 1000;
  transform: scale(0.75);
}

#icon ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr);
  font-size: 1.5em;
  z-index: 10;
  transition: 0.5s;
}

#icon ul li a:hover {
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr))
    drop-shadow(0 0 60px var(--clr));
}
